<div class="container-main">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-12 col-md-4 bg-light p-5">
      <h2 class="text-center text-dark mb-4">Login on g-Out!</h2>
      <form action="/register" method="POST" class="">
        {{>user/profile user=user errors=errors}}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
      </form>
      <hr>
      <p class="text-center text-dark">Already registered? <a class="text-info" href="/login">Do login</a></p>
    </div>
  </div>
</div>