home {{#if inicio}} YEAHH {{/if}}

<script>
  var places = {{{mapboxData}}};
</script>

{{!-- <script>
  var places = {{mapbox places}};
</script> --}}

<div class='sidebar pad2'>Listing</div>
<div id='map' class='map pad2'>Map</div>