<footer class="footer d-flex justify-content-around bg-dark text-white">
    <div class="social-link">
          <a class="mx-2" href="https://www.instagram.com"><i class="fab fa-instagram fa-2x"></i> </a>
          <a class="mx-2" href="https://www.facebook.com"><i class="fab fa-facebook-square fa-2x"></i> </a>
          <a class="mx-2" href="https://www.twitter.com"><i class="fab fa-twitter-square fa-2x"></i> </a>
          <a class="mx-2" href="https://www.twitter.com"><i class="fab fa-slack fa-2x"></i> </a>
          <a class="mx-2" href="https://www.twitter.com"><i class="fab fa-github-square fa-2x"></i> </a>
    </div>
    <div class="">Powered by Eva & Paco - Ironhack 2019</div>
</footer>
