<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top text-white px-4">
      <span class="navbar-brand">g-Out!</span>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home fa-lg"></i> Home</a>
          </li>
          {{#if userLogID}}
          <li class="nav-item">
            <a class="nav-link" href="/profile"><i class="fas fa-user fa-lg"></i> Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-lg"></i> LoG-out</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/register"><i class="fas fa-edit fa-lg"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt fa-lg"></i> LogIn</a>
          </li>
          {{/if}}
        </ul>
        <form class="form-inline my-2 my-md-0" action="/" method="GET">
        <input class="form-control" type="text" placeholder="Search..." name="search" >
        <button class="btn btn-info" type="submit"><i class="fas fa-search fa-lg"></i></button>
        </form>
      </div>
    </nav>