body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background: url(../img/fondo.jpg) no-repeat center 30px;
  background-size: cover;
}

a{
  color: #eee;
  text-decoration: none;
}
a:hover {
  color: rgb(45, 125, 246);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}
.img-profile{
  width: 180px;
  margin: 60px auto 0;
}
.datos-profile{
  margin-top: 30px;
}
.form-profile{
  max-width: 27%;
}

.sidebar { 
  width: 28%;
  height: 700px;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background: white;
  opacity: 0.9;
}

.pad2 {
  padding: 20px;
}
.text-center {
  color: #fff;
}
.div-mapa{
  padding: 0 60px 60px;
}
.map {
  width: 68%;
  height: 700px;
}
.h1-locations{
  font-size: 22px;
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  padding: 20px 2px;
}
.a-shortdescrip{
  display: block;
  color: rgb(255, 30, 70);
  font-weight: bold;
}
.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}
.input-search{
  padding: 20px 0;
}
.input-search input{
  width: 250px;
  background-image: url(../img/search.png);
  background-size: 14px;
  background-repeat: no-repeat;
  right: 120px;
  background-position: 220px;
}
.ind-card{
  width: 400px;
  margin: 40px auto 0;
}
.img-card{
  margin: 9px 0 33px 33px;
}
.form-comment{
  width: 600px;
  margin: 0 auto;
}
.form-comment-m{
  width: 600px;
  margin: 30px auto 0;
}
.p-comment{
  color: #fff;
  margin-bottom: 0;
}
.custom-file-l{
  color: #fff;
  font-weight: bold;
}
label{
  display: block;
}
label p{
  font-weight: bold;
}
input{
  width: 100%;
}
select{
  width: 49%;
}
.div-formEdit{
  margin: 30px;
}
.boton-create{
  width: 180px;
  margin: 50px auto;
}
.h3-comment{
  color: #fff;
}
.p-comment{
  color: #fff;
}
.d-flex-m{
  margin-top: 20px;
}
.comentarios{
  width: 600px;
  margin: 30px auto;
  background: #fff;
  color: #000;
  padding: 5px;
}
.b-listing {
  margin-bottom: 0;
  color: black;
  font-weight: bold;
}
.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #a5001d;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item .active .title,
.listings .item .title:hover { color: rgb(255, 30, 70) }

.listings .item .active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background:rgb(119, 20, 38);
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.markerRestaurant, .markerNight_club, .markerBar, .markerCoffe {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-color: rgba(0, 0, 0, 0);
}
.markerNight_club {
  background: url(../img/ico1/ico_night_club.png) ; 
  background-size: 56px;
}
.markerBar{
  background: url(../img/ico1/ico_bar-min.png) ;
  background-size: 56px;
}
.markerRestaurant{
  background: url(../img/ico1/ico_restaurant.png) ;
  background-size: 56px;
}
.markerCoffe{
  background: url(../img/ico1/ico_cafe.png);
  background-size: 56px;
}

.mapboxgl-popup {
  padding-bottom: 50px;
}
.black{
  color: #000;
}
.red{
  color: red;
}
.clearfix{
  clear: both;
}

.input-search i {
  font-size: 25px; 
  color: blue; 
    font-weight: 900px 
}


.card-header img {
  width: 100px;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: #f5f5f5;
}

.container-main {
  margin-top: 120px;
}
